.navbar {
    &-cont {
        display: flex;
        background-color: #ecf1da;
        align-items: center;
        height: 12vh;
        justify-content: space-between;
        padding: 0 20px;
        .logo-cont{
            .logo:hover{
                transform: scale(1.03);
            }
        }
        .navbar-links-cont {
            .navbar-links {
                display: flex;
                gap:15px;
                padding: 30px;
                a {
                    color: #646656;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-right: 3px solid #d3e098;
                    padding-right: 15px;
                }
                a:last-child {
                    border-right: none; /* Removes border from the last link */
                }
                a:hover {
                    color: #8a9a5b;
                    transform: scale(1.05);
                }
            }
        }
    }

}